App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configSections">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="section">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="connectionStrings">
					<xs:complexType>
						<xs:attribute name="configSource" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="appSettings">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="log4net">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="appender">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="param">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="lockingModel">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="appendToFile">
											<xs:complexType>
												<xs:attribute name="value" type="xs:boolean" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="rollingStyle">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="maxSizeRollBackups">
											<xs:complexType>
												<xs:attribute name="value" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="maximumFileSize">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="staticLogFileName">
											<xs:complexType>
												<xs:attribute name="value" type="xs:boolean" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="layout">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="param">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="value" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="root">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="level">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="appender-ref">
											<xs:complexType>
												<xs:attribute name="ref" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="system.web">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="membership">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="add">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="serviceUri" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="defaultProvider" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="roleManager">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="add">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="serviceUri" type="xs:string" use="required" />
															<xs:attribute name="cacheTimeout" type="xs:unsignedInt" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="defaultProvider" type="xs:string" use="required" />
									<xs:attribute name="enabled" type="xs:boolean" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>